{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }}  |  About us
{% endblock %}

{% block body %}
    <div>
        <h2>about us</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequuntur cum deleniti dicta
                esse eum exercitationem, illum ipsa laborum molestiae natus, nesciunt provident reprehenderit vitae
                voluptatem? Consequuntur dolores perferendis voluptates.
            </div>
            <div>Enim impedit, ipsa modi odio sed unde voluptatum! Aliquid consectetur ex, fugit inventore recusandae
                repellendus repudiandae totam. Asperiores cum, eius facilis, ipsa magnam nobis quae quibusdam, quod
                rerum ullam voluptates.
            </div>
            <div>Impedit, non saepe. Adipisci aliquid consequatur esse iusto modi nemo perspiciatis quis tempore vitae
                voluptatibus. Accusamus alias aliquid aperiam exercitationem maxime perspiciatis qui quibusdam, quisquam
                recusandae, rem repellat suscipit tempora.
            </div>
    </div>

{% endblock %}


