{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | List
{% endblock %}

{% block body %}

    <h2>Voici ma Liste de souhaits !</h2>

    <section>
        {% for w in wish %}
            <article>
                <div class="liste">
                    <a href="{{ path('wish_detail', {'id' : w.id}) }}"
                       title="view details of {{ w.title }}"> {{ w.title }}</a>
                </div>
            </article>
            <br>
        {% endfor %}


    </section>
{% endblock %}

